body {
    height: 100%;
    margin: 0;
}

h1 {
    color: rgb(151, 37, 153);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(241, 220, 30);
    padding: 25px;

}

h2 {
    color: rgb(100, 14, 147);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -10px;
    font-style: italic;
    margin-left: 20px;
}

#startButton {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(117, 9, 120);
    color: antiquewhite;
    border-color: rgb(20, 220, 113);
    font-size: 150%;
    transition: background-color 1s ease-in-out;
    transition: font-size .75s ease-in-out;
}

.flexContainerGameButton {
    display: flex;
    justify-content: center;
}

.gameButton {
    height: 250px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    font-family: Arial, Helvetica, sans-serif; 
    transition: .5s ease-in-out;
}

.gameButtonBright{
    filter: brightness(200%);
    border: 10px solid black;
}

#startButton:hover {
    background-color: rgb(197, 19, 220);
    font-size: 200%;
}

/* use button ids to establish button colors */
#greenButton {
    background-color: rgb(34, 194, 34);
    border-radius: 60% 0% 0%;
}

#blueButton {
    background-color: rgb(2, 33, 207);
    border-radius: 0% 0% 0% 60%;
}

#redButton {
    background-color: rgb(201, 4, 4);
    border-radius: 0% 60% 0% 0%;
}

#yellowButton {
    background-color: rgb(227, 227, 3);
    border-radius: 0% 0% 60% 0%;
}


#gameCounter {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    text-align: center;;
}
